.columnHeaders {
    display: flex;
    justify-content: space-between;
    padding: 25px 40px 20px;
    background-color: var(--background-color);
  }
  
  .column {
    flex: 1;
    font-weight: bold;
    color: var(--text-color);
    font-size: 18px;
  }
  