:root {
    --primary-color: #32a852; /* Verde Fútbol */
    --secondary-color: #ffd700; /* Dorado Ganador */
    --text-color: #000000; /* Negro */
    --second-text-color: #4a4a4a; /* gris o algo así*/
    --background-color: #ffffff; /* Blanco */
    --resaltado-color: #ff4d4d; /* rojo */
  }
  
  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }
  