.header {
    background-color: #0aa00a;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    padding: 10px 25px 15px 5px;
    margin-bottom: 50px;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    margin-right: 10px;
  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #0f0f0f;
  }
  