  
  .predictions {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .heading {
    color: var(--text-color); /* Usar el color primario definido en las variables globales */
    text-align: center;
    margin-bottom: 20px;
  }